!!!
%html
  %head
    %title Site
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.app-navbar
      .container
        %a.navbar-brand{ href: '/' }
          LET;

        %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
          %span.navbar-toggler-icon

        #navbarSupportedContent.collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            %li.nav-item.active
              = link_to '/', class: 'nav-link' do
                = t('application.home.link')

            %li.nav-item
              = link_to about_url, class: 'nav-link' do
                = t('application.about.link')

            %li.nav-item
              = link_to team_url, class: 'nav-link' do
                = t('application.team.link')

            %li.nav-item
              = link_to community_url, class: 'nav-link' do
                = t('application.community.link')

            %li.nav-item
              = link_to blog_url, class: 'nav-link' do
                = t('application.blog.link')

    = yield
    %footer
