!!!
%html
  %head
    %title Site
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header
    %nav
      = link_to '/' do
        = t('application.home.link')
      = link_to about_url do
        = t('application.about.link')
      = link_to team_url do
        = t('application.team.link')
      = link_to community_url do
        = t('application.community.link')
      = link_to blog_url do
        = t('application.blog.link')
    = yield
    %footer
